<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010555357094-chg35q0b8ra1b1j3ojodhk252gb47o9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010555357094-chg35q0b8ra1b1j3ojodhk252gb47o9r</string>
	<key>API_KEY</key>
	<string>AIzaSyANPgIRoOVQuVfqtXwQwQx5LFyY82PH5zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1010555357094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nefisebanutunc.bakkalDukkani</string>
	<key>PROJECT_ID</key>
	<string>bakkal-dukkani</string>
	<key>STORAGE_BUCKET</key>
	<string>bakkal-dukkani.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010555357094:ios:07f37bfabd4ff22a327167</string>
</dict>
</plist>